# Terraform
terraform/terraform.tfvars
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup

# Frontend
frontend/.next/
frontend/node_modules/

# Backend
backend/target/

# Environment files
.env
.env.*
